@RenderMode.Server

<head>
    <title>Авторизация</title>
    <meta charset="utf-8">
</head>
<body>
    <header>
        <h1>Авторизация</h1>
    </header>
    <main>
        <form method="post" action="/Authorization/SignIn">
            Логин <input type="text" name="login">
            Пароль <input type="password" name="pass">
            <input type="submit" value="Войти">
        </form>
    </main>
    <footer>

    </footer>
</body>