@RenderMode.Server

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/jrequest.js"></script>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col col-lg-6">
                <h2>Авторизация</h2>
            </div>
            <div class="col-md-6 col-md-6"></div>
                <h2>Войдите </h2>
            </div>
        </div>
    </div>
</section>